<div class="chakra-modal__body css-1oyi6lp" id="chakra-modal--body-:ro:">
    <div>
        <p class="chakra-text css-1g7qv4a">Target website blocked direct access 😵‍💫</p>
        <p class="chakra-text css-1g7qv4a">Please use our Chrome plugin to fetch page info again.</p>
    </div>
    <div class="css-f7njuq">
        <p class="chakra-text css-0"><a href="https://chromewebstore.google.com/detail/topview-ai-chuy%E1%BB%83n-%C4%91%E1%BB%95i-b%E1%BA%A5t/ekgpeagdnmojiophbfpdaahimmfibpfm" target="_blank">Get Chrome Extension</a></p>
        <div class="css-3ukjbq"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none"
                viewBox="0 0 18 18" style="width: 18px; height: 18px;">
                <path fill="#fff" d="M.003 9a8.98 8.98 0 1 0 17.96-.007A8.98 8.98 0 0 0 .004 9"></path>
                <path fill="#EA4336"
                    d="m4.533 7.84-2.57-4.45A8.975 8.975 0 0 1 16.71 4.402H9.385A4.636 4.636 0 0 0 4.533 7.84"></path>
                <path fill="#FABD05"
                    d="M12.197 5.703h5.156a8.9 8.9 0 0 1 .61 3.277 8.975 8.975 0 0 1-8.88 8.981l3.679-6.362a4.586 4.586 0 0 0-.563-5.896z">
                </path>
                <path fill="#4285F4" d="M5.722 9a3.262 3.262 0 1 1 6.523-.007 3.262 3.262 0 0 1-6.523.008"></path>
                <path fill="#34A852"
                    d="m10.22 13.43-2.57 4.467A9 9 0 0 1 0 9.013 8.86 8.86 0 0 1 1.163 4.61l3.663 6.33a4.62 4.62 0 0 0 4.158 2.65 5.3 5.3 0 0 0 1.237-.16">
                </path>
            </svg></div>
    </div>
    <p class="chakra-text css-0">Supports parsing info from almost any site</p>
    <div class="css-e08esm">
        <div class="css-1anew1j">
            <p class="chakra-text css-0">Step1</p>
            <p class="chakra-text css-1u8pvn2">Visit the target site, click Convert</p><img
                src="https://www.topview.ai/images/m2v/extension_1.png" style="height: 165px; border-radius: 10px;" class="chakra-image css-ilv2ee">
        </div>
        <div class="css-jifm8i">
            <p class="chakra-text css-0">Step2 </p>
            <p class="chakra-text css-1u8pvn2">Wait and get the result</p>
            <img src="https://www.topview.ai/images/m2v/extension_2.png" class="chakra-image css-1qb9qcg">
            <img src="https://www.topview.ai/images/m2v/extension_3.png" class="chakra-image css-g2qx18">
        </div>
    </div>
</div>