<div class="popup-confirm-content">
  <div class="popup-confirm-body">
    @if (this.type === 'progress') {
      @if (this.progress === 100) {
      <p class="popup-confirm-message" style="text-align: center;">{{ message }}</p>
      }@else {
      <p class="popup-confirm-message" style="text-align: center;">{{ pendingMessage }}</p>

      }
    } @else {
    <p class="popup-confirm-message">{{ message }}</p>
    }
    <!-- Progress bar for progress type -->
    <div *ngIf="type === 'progress'" class="progress-containers" style="margin: 0 auto;">
      <app-progress  [percent]="progress" strokeColor="linear-gradient(to right, rgb(241, 62, 242), rgb(201, 203, 255), rgb(48, 213, 229), rgb(52, 75, 255))"></app-progress>
    </div>
    <!-- Custom content for different action types -->
    <div *ngIf="action === 'export'" class="export-info">
      <div class="export-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
          <polyline points="7 10 12 15 17 10"></polyline>
          <line x1="12" y1="15" x2="12" y2="3"></line>
        </svg>
      </div>
      <p>Your file will be exported in a standard format</p>
    </div>
  </div>
  <div class="popup-confirm-footer d-flex align-items-center justify-content-center">
    <!-- <button type="button" class="btn-cancel" (click)="onCancel()">
      {{ cancelText || 'Cancel' }}
    </button> -->
    <button type="button" class="btn-confirm" (click)="onConfirm()" [disabled]="isProcessing && progress < 100">
      {{ confirmText || 'Confirm' }}
    </button>
  </div>
</div>