<div class="page-container" style="padding-right: 0;">
    <aside class="left-sidebar">
        <div class="panel product-image-panel">
            <h3>Product Image</h3>
            <p class="format-info">Image format: jpg, jpeg, png, webp; File size: < 10MB.</p>
                    <div class="upload-area checkerboard" style="position: relative;">
                        <app-file-upload label="Click to upload product image"
                            (fileSelected)="onFileSelected($event)" [previewUrl]="this.productImage"></app-file-upload>
                        <div class="icon-toolbar">
                            <div class="icon-btn">
                                <p>🧥</p>
                            </div>
                            <div class="icon-btn">
                                <p>👗</p>
                            </div>
                            <div class="icon-btn">
                                <p>👟</p>
                            </div>
                            <div class="icon-btn">
                                <p>💍</p>
                            </div>
                            <div class="icon-btn">
                                <p>🦤</p>
                            </div>
                            <div class="icon-btn">
                                <p>🌴</p>
                            </div>
                            <div class="icon-btn">
                                <p>🛼</p>
                            </div>
                            <div class="icon-btn">
                                <p>🚗</p>
                            </div>
                            <div class="icon-btn"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                    viewBox="0 0 16 16" focusable="false" class="chakra-icon css-c46nr3" height="1em"
                                    width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z">
                                    </path>
                                </svg></div>
                        </div>
                    </div>
        </div>

        <div class="panel tools-panel">
            <div class="tool-buttons">
                <button class="tool-btn active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 20 20"
                        font-size="20px" aria-hidden="true" focusable="false">
                        <path fill="#fff"
                            d="m13.585 2.246 4.756 4.756a.84.84 0 0 1 0 1.19l-6.54 6.538-1.783.595-1.189 1.189a.84.84 0 0 1-1.189 0l-3.566-3.567a.84.84 0 0 1 0-1.189l1.189-1.189.594-1.783 6.54-6.54a.84.84 0 0 1 1.188 0m1.19 3.567a.84.84 0 0 0-1.19 0L9.424 9.975a.84.84 0 1 0 1.189 1.189l4.161-4.162a.84.84 0 0 0 0-1.189m-10.999 8.62 2.378 2.378L4.965 18l-3.567-1.189z">
                        </path>
                    </svg>
                </button>
                <button class="tool-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 20 20"
                        font-size="20px" aria-hidden="true" focusable="false">
                        <path stroke="#fff" stroke-linecap="round" stroke-width="1.5" d="M3 17.3h14"></path>
                        <rect width="7.5" height="12" x="11.84" y="3" stroke="#fff" stroke-linejoin="round"
                            stroke-width="1.5" rx="0.5" transform="rotate(45 11.84 3)"></rect>
                        <path fill="#fff" d="m8.305 6.536 5.303 5.303-4.95 4.95-5.303-5.303z"></path>
                    </svg>
                </button>
            </div>
            <div class="slider-group">
                <app-slider [value]="50" label="Brush Thickness" [showValue]="true">
                </app-slider>
            </div>
            <div class="slider-group">
                <label>Generating Count : <span id="gen-count-value">2</span></label>
                <app-slider [value]="0" [step]="25" [marks]="customMarks">
                </app-slider>
            </div>
        </div>
    </aside>

    <main class="center-content">
        <div class="mode-switcher">
            <button class="btn mode-btn active">Standard Mode</button>
        </div>
        <div class="target-image-section" style="height: calc(100vh - 250px);">
            <div class="target-header">
                <h2>Target Image</h2>
                <a href="#" class="how-to-draw">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 16 16"
                        focusable="false" class="chakra-icon css-ky7im0">
                        <path stroke="#fff" stroke-linejoin="round" stroke-opacity="0.5" stroke-width="1.2"
                            d="M8 14a5.98 5.98 0 0 0 4.243-1.757A5.98 5.98 0 0 0 14 8a5.98 5.98 0 0 0-1.757-4.243A5.98 5.98 0 0 0 8 2a5.98 5.98 0 0 0-4.243 1.757A5.98 5.98 0 0 0 2 8c0 1.657.672 3.157 1.757 4.243A5.98 5.98 0 0 0 8 14Z">
                        </path>
                        <path fill="#fff" fill-opacity="0.5" fill-rule="evenodd"
                            d="M8 4.098a.75.75 0 1 1 0 1.5.75.75 0 0 1 0-1.5" clip-rule="evenodd"></path>
                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-opacity="0.5"
                            stroke-width="1.2" d="M8.148 11V6.8h-.6m-.45 4.2h2.1"></path>
                    </svg> How to draw?
                </a>
            </div>

            <div class="upload-area checkerboard" style="flex: 1">
                <app-file-upload style="height: 100%;" label="Click to upload target image" (fileSelected)="onFileSelected($event)"
                    [templateLabel]="templateLabel" [previewUrl]="this.templateImage"></app-file-upload>

                <ng-template #templateLabel>
                    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                        <p style="font-size: 16px;">Click to upload target image</p>
                        <p class="or-text" style="margin-bottom: 20px;">or</p>
                        <button class="btn btn-primary" (click)="openSelectTemplate($event)">Select from Public
                            Templates</button>
                    </div>
                </ng-template>
            </div>
        </div>
        <button class="btn btn-generate" (click)="generate()">
            Generate
        </button>
    </main>
    <div class="samples-section" style="width: 20%;">
        <div class="samples-grid">
            @for (item of exampleList; track $index) {
                <img (click)="onTryExample(item)" alt="{{item.name}}" [src]="item.thumbnail" class="chakra-image css-1vkcvrl">
                }
                </div>
        <p class="samples-caption text-center" >Click to Try Samples</p>
    </div>

    <aside class="right-sidebar">
        <button class="btn history-btn" (click)="onCreateNew()">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 32 32"
                focusable="false" class="chakra-icon css-8jm5u9">
                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                    d="M4 16h24M16 4v24"></path>
            </svg>
            <span>New</span>
        </button>
    </aside>
</div>

<app-drawer [(visible)]="basicDrawerVisible" title="Public Templates" (afterOpen)="onAfterOpen()" [width]="'80%'"
    (afterClose)="onAfterClose()">
    @if (basicDrawerVisible) {
    <app-select-template (selectedTemplate)="onSelectedTemplate($event)"></app-select-template>
    }
</app-drawer>