.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(22, 22, 22);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  img {
    width: 147px;
    height: 147px;
    object-fit: cover;
  }
}