<header class="header">
  <div class="header-logo">
    <img src="https://www.topview.ai/logo.png" alt="">
  </div>
</header>
<div class="body">
  <div class="sidebar">
    <ul class="menu">
      <li class="menu-item active">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 20 20"
          style="font-size: 20px;">
          <rect width="5.5" height="5.5" x="3" y="3" stroke="#fff" stroke-width="1.5" rx="1"></rect>
          <rect width="5.5" height="5.5" x="11.5" y="3" stroke="#fff" stroke-width="1.5" rx="1"></rect>
          <rect width="5.5" height="5.5" x="3" y="11.5" stroke="#fff" stroke-width="1.5" rx="1"></rect>
          <rect width="5.5" height="5.5" x="11.5" y="11.5" stroke="#fff" stroke-width="1.5" rx="1"></rect>
        </svg>
        <span>Dashboard</span>
      </li>
      <li class="menu-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 20 20"
          style="font-size: 20px;">
          <rect width="14" height="14" x="3" y="3" stroke="#fff" stroke-linejoin="round" stroke-width="1.5" rx="1">
          </rect>
          <path stroke="#fff" stroke-width="1.5"
            d="M7 3v4.5M7 17v-4.5m0-5H3m4 0v5m0 0H3M13 3v4.5m0 9.5v-4.5m0-5h4m-4 0v5m0 0h4"></path>
        </svg>
        <span>Projects</span>
      </li>
      <li class="menu-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 20 20"
          style="font-size: 20px;">
          <path stroke="#fff" stroke-linejoin="round" stroke-width="1.667"
            d="M2.501 4.495c0-.872.707-1.578 1.579-1.578h3.577a.79.79 0 0 1 .606.283l1.5 1.795a.79.79 0 0 0 .606.283h5.552c.872 0 1.579.705 1.579 1.577v8.65c0 .872-.707 1.579-1.579 1.579H4.08A1.577 1.577 0 0 1 2.5 15.507z">
          </path>
          <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.667"
            d="M10.832 9.167h2.917"></path>
        </svg>
        <span>Assets</span>
      </li>
      <li class="menu-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 20 20"
          style="font-size: 20px;">
          <path stroke="#fff" stroke-linejoin="round" stroke-width="1.5"
            d="M3 3.5A1.5 1.5 0 0 1 4.5 2h11A1.5 1.5 0 0 1 17 3.5v13.79a.5.5 0 0 1-.668.471l-5.996-2.14a1 1 0 0 0-.672 0l-5.996 2.14a.5.5 0 0 1-.668-.47z">
          </path>
          <path fill="#fff"
            d="M9.636 5.443a.393.393 0 0 1 .726 0l.806 1.94 2.095.168c.348.027.49.462.224.69L11.89 9.608l.488 2.043a.393.393 0 0 1-.587.427l-1.793-1.095-1.793 1.095a.393.393 0 0 1-.587-.427l.487-2.043L6.511 8.24a.393.393 0 0 1 .224-.69l2.094-.168z">
          </path>
        </svg>
        <span>Brand Kit</span>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>