/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: rgb(78, 64, 243);
  --dark-background: rgb(22, 22, 23);
  --secondary-color: rgb(39, 39, 41);
  --border-color: rgb(58, 58, 58);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

body {
  background-color: var(--dark-background);
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  // min-width: 1100px
}

.h-100 {
  height: 100% !important;
}

.page-container {
  padding: 0px 20px;
  min-width: 500px;
}

.pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.btn {
  padding: 0 16px;
  font-size: 15px;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  height: 40px;
  gap: 10px;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-ghost {
  background-color: transparent !important;
  border: 1px solid var(--border-color);
  padding: 0px 24px;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn.large {
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
}

h4 {
  margin: 10px 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 68px;
  background: rgb(28, 28, 29);
  border-top: 1px solid rgb(53, 53, 53);
  z-index: 10;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-end {
  justify-self: end;
}

.gap-10 {
  gap: 10px;
}

.error {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 64, 64);
  font-size: 12px;
  margin: 6px 0;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid rgb(255, 64, 64) !important;
}

input,
textarea {
  outline: none;
}

.tabs {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 20px;
  background: rgb(24, 24, 24);
  border-radius: 8px;
  padding: 4px;
  .tab {
    display: flex;
    height: 32px;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: 250ms ease-in-out;
    color: rgba(255, 255, 255, 0.5);
    &.active {
      color: rgb(255, 255, 255);

      background: rgb(39, 39, 41);
    }
  }
}

textarea {
  display: block;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 15px 10px;
  color: #fff;
  width: 100%;
  min-height: 150px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.text-center {
  text-align: center;
}

/* Scrollbar Styling (Optional, Webkit browsers) */
/* Optimized scrollbar styles */
.upload-result,
textarea {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #2c2c34;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
    border: 2px solid #2c2c34;

    &:hover {
      background-color: #777;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header-logo {
      width: auto;
      padding-left: 10px;

      img {
        width: 100px;
      }
    }

    .header-title {
      font-size: 16px;
    }

    .header-options {
      font-size: 16px;
    }
  }

  .body {
    flex-direction: column;

    .sidebar {
      display: none;
    }

    .content {
      width: 100%;
      padding: 16px 12px;
    }
  }

  .banner-item {
    width: unset !important;
  }
}
