<div class="tutorial-container">
    <video src="https://d1735p3aqhycef.cloudfront.net/aigc-web/public/helpCenter/product_anyShoot_tutorial_v3.mp4" poster="https://d1735p3aqhycef.cloudfront.net/aigc-web/public/helpCenter/product_anyShoot_tutorial.png" controls="" style="width: 100%; height: 100%; border-radius: 10px;"></video>
    <div class="tutorial-title">How to Use Product AnyShoot</div>
    <p class="chakra-text css-bg3st0">Fit any product into any scenario, seamlessly blending perspective, lighting, and angles. Especially suitable for wearable products.</p>
</div>